.carousel__custom {
    right: unset;
    display: grid !important;
    grid-template-rows: 60% 1fr;
    flex-direction: column;
    left: 10%;
    height: 100%;
    align-items: flex-end;
}

.carousel__img--grdient {
    background: linear-gradient(90deg, rgba(134,38,195,.7) 58%, rgba(255,255,255,.2) 100%);
    z-index: 10;
    display: inline-block;
    width: 100%;

    img {
        position: relative;
        z-index: -1;
        display: block;
        width: 100%;
    }
}

.carousel__button {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    padding: 1rem;
}