<accordion [isAnimated]="true" [closeOthers]="true">
    <accordion-group>
        <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
            <div class="pull-left float-left">About Job Rotation</div>
            <span class="float-right pull-right"><i class="fa fa-arrow-down"></i></span>
        </button>
      <p>
          you could steer your career into new areas of work through our job rotation program.
          These programs enable you to move across different career streams. Job Rotation prepare you for your new role wih the
          structured suite of blended learnings and internship. The learning curve is similar to that gained by pursing
          higher education or cources externally.
      </p>
    </accordion-group>
    <accordion-group>
        <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
            <div class="pull-left float-left">For Whom</div>
            <span class="float-right pull-right"><i class="fa fa-arrow-down"></i></span>
        </button>
      <p>
          Infoscions at JL2 to JL6 are eligible foe Power Programmer and JL4 to JL5 for other bridges.
      </p>
    </accordion-group>
    <accordion-group>
        <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
            <div class="pull-left float-left">What is a process for Job Rotation</div>
            <span class="float-right pull-right"><i class="fa fa-arrow-down"></i></span>
        </button>
      <p>
          1 ---> 2 --> 3
      </p>
    </accordion-group>
    <accordion-group>
        <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
            <div class="pull-left float-left">What are the policies govering Job Rotation</div>
            <span class="float-right pull-right"><i class="fa fa-arrow-down"></i></span>
        </button>
      <p>
          Information provided is an overview of the Infosys Policies are requested to go through the respective policy document for details.
      </p>
      <h4>Objective</h4>
      <p>
        you could steer your career into new areas of work through our job rotation program.
        These programs enable you to move across different career streams. Job Rotation prepare you for your new role wih the
        structured suite of blended learnings and internship. The learning curve is similar to that gained by pursing
        higher education or cources externally.
      </p>
    </accordion-group>
</accordion>