<div class="navbar">
    <div class="navbar__brand">
        <div class="navbar__logo mr-1"><i class="fa fa-th"></i></div>
        <div class="navbar__brand-name">Market Place</div>
    </div>
    <div class="navbar__list">
        <ul>
            <li class="navbar__item  navbar__item--active"><a class="navbar__link" href="#">Home</a></li>
            <li class="navbar__item"><a class="navbar__link" href="#">My Profile</a></li>
            <li class="navbar__item"><a class="navbar__link" href="#">My Aspirations</a></li>
            <li class="navbar__item"><a class="navbar__link" href="#">Jobs</a></li>
            <li class="navbar__item"><a class="navbar__link" href="#">People</a></li>
            <li class="navbar__item"><a class="navbar__link" href="#">Reports</a></li>
            <li class="navbar__item"><a class="navbar__link" href="#">About</a></li>
        </ul>
    </div>
    <div class="navbar__list">
        <ul>
            <li class="navbar__item"><a class="navbar__link" href="#"><i class="fa fa-ellipsis-v"></i></a></li>
            <li class="navbar__item"><a class="navbar__link" href="#"><i class="fa fa-bell-o"></i></a></li>
            <li class="navbar__item"><a class="navbar__link" href="#"><i class="fa fa-user-circle"></i></a></li>
            <li class="navbar__item"><a class="navbar__link" href="#">Ravi</a></li>
        </ul>
    </div>
</div>