<div>
    <tabset>
      <tab heading="Java" id="tab1" customClass="horizontal__tab">
          <div class="cont">
            <tabset [vertical]="true" type="pills">
                <tab heading="Vertical 1">Vertical content 1</tab>
                <tab heading="Vertical 2">Vertical content 2</tab>
            </tabset>
          </div>
      </tab>
      <tab heading="Devops">
        <div class="cont">
            <tabset [vertical]="true" type="pills">
                <tab heading="Vertical 1">Vertical content 3</tab>
                <tab heading="Vertical 2">Vertical content 4</tab>
            </tabset>
        </div>
      </tab>
      <tab heading="Cloud Developer">
        <div class="cont">
            <tabset [vertical]="true" type="pills">
                <tab heading="Vertical 1">Vertical content 5</tab>
                <tab heading="Vertical 2">Vertical content 6</tab>
            </tabset>
        </div>
      </tab>

      <tab heading="Android">
        <div class="cont">
            <tabset [vertical]="true" type="pills">
                <tab heading="Vertical 1">Vertical content 5</tab>
                <tab heading="Vertical 2">Vertical content 6</tab>
            </tabset>
        </div>
      </tab>

      <tab heading="Angular">
        <div class="cont">
            <tabset [vertical]="true" type="pills">
                <tab heading="Vertical 1">Vertical content 5</tab>
                <tab heading="Vertical 2">Vertical content 6</tab>
            </tabset>
        </div>
      </tab>

      <tab heading="Python">
        <div class="cont">
            <tabset [vertical]="true" type="pills">
                <tab heading="Vertical 1">Vertical content 5</tab>
                <tab heading="Vertical 2">Vertical content 6</tab>
            </tabset>
        </div>
      </tab>

      <tab heading="Oracle">
        <div class="cont">
            <tabset [vertical]="true" type="pills">
                <tab heading="Vertical 1">Vertical content 5</tab>
                <tab heading="Vertical 2">Vertical content 6</tab>
            </tabset>
        </div>
      </tab>
    </tabset>
</div>