.searchbar {
    display: flex;
    justify-content: center;
    margin: 2rem 0;

    &__input {
        input {
            padding: 0.5rem 1rem;
            min-width: 500px;
            border: none;
            border-radius: 5px;
            outline: none;
            box-shadow: 0px 18px 40px -12px rgba(134,38,195,.35);
        }
    }
}