<div class="job-cards">
    <div class="job-card">
        <h2 class="job-card__number">24</h2>
        <h4 class="job-card__title">Job Posted</h4>
        <i class="fa fa-check-circle-o"></i>
    </div>

    <div class="job-card">
        <h2 class="job-card__number">12</h2>
        <h4 class="job-card__title">Shortlisted</h4>
        <i class="fa fa-check-circle-o"></i>
    </div>

    <div class="job-card">
        <h2 class="job-card__number">10</h2>
        <h4 class="job-card__title">On Hold</h4>
        <i class="fa fa-check-circle-o"></i>
    </div>

    <!-- <div class="job-card">
        <h2 class="job-card__number">10</h2>
        <h4 class="job-card__title">Closed</h4>
        <i class="fa fa-check-circle-o"></i>
    </div> -->
</div>