<app-navbar></app-navbar>
<!-- Home Screen -->

<!-- <app-carousel></app-carousel>
<app-video-promo></app-video-promo>
<app-cards></app-cards> -->

<!-- People Screen -->

<!-- <app-searchbar></app-searchbar>
<div class="container">
    <app-job-cards></app-job-cards>
    <h4>Applicant List</h4>
    <app-applicant-list></app-applicant-list>
</div> -->

<!-- Profile Screen -->
<!-- <app-profile></app-profile> -->

<!-- Aspirations -->
<!-- <app-searchbar></app-searchbar> -->
<!-- <app-aspirations></app-aspirations> -->

<!-- About -->
<!-- <div class="container mt-5">
    <app-about></app-about>
</div> -->

<!-- Reports -->
<app-reports></app-reports>

<!-- Job Screen -->
<!-- <app-job></app-job> -->

<router-outlet></router-outlet>