<div class="profile">
    <div class="profile-sidebar">
        <div class="profile__account">
            <i class="fa fa-user-circle"></i>
            <p class="profile__name">Ravi Varma</p>
            <p class="profile__designation">Designer - Experince Designer</p>
            <p class="profile__location">DX-DIMRCLE, PUNE</p>
        </div>
        <div class="profile__completion">
            profile completion
        </div>
        <div class="profile__rotation">
            <p>Next Job Rotation Level</p>
            <span>07/08/2020</span>
        </div>
        <div class="profile__jobs">
            <div class="jobs">
                <div class="jobs__total">
                    <p>Total Jobs Opened</p>
                    <span>30</span>
                </div>
                <div class="jobs__skill">
                    <p>Learn New Skills</p>
                    <span>5</span>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-wrapper">
        <div class="profile__details">
            <div class="profile__details-unit">
                <p>Unit</p>
                <p>DX</p>
            </div>
            <div class="profile__details-tenure">
                <p>Account Tenure</p>
                <p>01 Year</p>
            </div>
            <div class="profile__details-worked">
                <p>Accounts Worked On</p>
                <p>Infosys Ltd</p>
            </div>
            <div class="profile__details-location">
                <p>Base Location</p>
                <p>Pune</p>
            </div>
        </div>
        <div class="profile__skills">
            <div class="profile__skills-tags">
                <p>My Skill Tags</p>
                <span>No Skill Tags</span>
            </div>
            <div class="profile__skills-top">
                <p>My Top Skills</p>
                <span>No Top Skills</span>
            </div>
        </div>
        <div class="profile__learnings">
            <ul>
                <li>Being Agile Aware</li>
                <li>Business Communication</li>
                <li>HTML 5</li>
                <li>JAVA</li>
                <li>Angular</li>
                <li>REACTJS</li>
            </ul>
        </div>
        <div class="profile__job">
            <div class="profile__job-duedate">
                <p>Job Rotation Due Date</p>
                <p>07/08/2020</p>
            </div>
            <div class="profile__job-pastdate">
                <p>Past Job Rotation Date</p>
                <p>08/08/2020</p>
            </div>
        </div>
        <div class="profile__allocation">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Role Designation</th>
                    <th scope="col">Project Details</th>
                    <th scope="col">Account Name</th>
                    <th scope="col">Project Type</th>
                    <th scope="col">Duration</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Designer - Experince Design</th>
                    <td>BBDXL251</td>
                    <td>Infosys Ltd</td>
                    <td>Bench</td>
                    <td>21 Days</td>
                  </tr>
                  <tr>
                    <th scope="row">Designer - Experince Design</th>
                    <td>BBDXL251</td>
                    <td>Infosys Ltd</td>
                    <td>Bench</td>
                    <td>21 Days</td>
                  </tr>
                  <tr>
                    <th scope="row">Designer - Experince Design</th>
                    <td>BBDXL251</td>
                    <td>Infosys Ltd</td>
                    <td>Bench</td>
                    <td>21 Days</td>
                  </tr>
                  <tr>
                    <th scope="row">Designer - Experince Design</th>
                    <td>BBDXL251</td>
                    <td>Infosys Ltd</td>
                    <td>Bench</td>
                    <td>21 Days</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>