<div class="promo">
    <div class="promo__video">
        <iframe width="100%" height="450" src="https://www.youtube.com/embed/ueaKYjUB7RM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="promo__content">
        <h4>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias temporibus modi doloribus asperiores blanditiis dolorem, iure cupiditate excepturi atque ea, in repudiandae? Ullam, sint voluptates! Suscipit repellendus temporibus, reprehenderit et rerum dignissimos quia ipsum, quasi quo aliquid quas ad fugit nemo officiis culpa unde mollitia quaerat. Hic vel asperiores dicta.
        </h4>
    </div>
</div>