<div class="cards">
    <div class="card">
        <div class="card__title">
            Explore Opportunities
        </div>
        <div class="card__para">
            Find your next career oppurtunity
        </div>
    </div>

    <div class="card">
        <div class="card__title">
            Explore Opportunities
        </div>
        <div class="card__para">
            Find your next career oppurtunity
        </div>
    </div>

    <div class="card">
        <div class="card__title">
            Explore Opportunities
        </div>
        <div class="card__para">
            Find your next career oppurtunity
        </div>
    </div>

    <div class="card">
        <div class="card__title">
            Explore Opportunities
        </div>
        <div class="card__para">
            Find your next career oppurtunity
        </div>
    </div>
</div>