<div class="applicant">
    <div class="applicant__name">
        <i class="fa fa-user-o mr-1"></i>
        <span>Gopalakrishnan</span>
    </div>
    <div class="applicant__skill">
        <i class="fa fa-arrows-h mr-1"></i>
        <span>Angular, Java, AWS</span>
    </div>
    <div class="applicant__demand">
        <i class="fa fa-user-o mr-1"></i>
        <span>Demand ID: 22539Y0</span>
    </div>
    <div class="applicant__unit">
        <i class="fa fa-users mr-1"></i>
        <span>Unit 1</span>
    </div>
    <div class="applicant__location">
        <i class="fa fa-map-marker mr-1"></i>
        <span>Bangalore</span>
    </div>
    <div class="applicant__cta">
        <a href="#" class="btn btn-primary">Action</a>
    </div>
</div>

<div class="applicant">
    <div class="applicant__name">
        <i class="fa fa-user-o mr-1"></i>
        <span>Gopalakrishnan</span>
    </div>
    <div class="applicant__skill">
        <i class="fa fa-arrows-h mr-1"></i>
        <span>Angular, Java, AWS</span>
    </div>
    <div class="applicant__demand">
        <i class="fa fa-user-o mr-1"></i>
        <span>Demand ID: 22539Y0</span>
    </div>
    <div class="applicant__unit">
        <i class="fa fa-users mr-1"></i>
        <span>Unit 1</span>
    </div>
    <div class="applicant__location">
        <i class="fa fa-map-marker mr-1"></i>
        <span>Bangalore</span>
    </div>
    <div class="applicant__cta">
        <a href="#" class="btn btn-primary">Action</a>
    </div>
</div>

<div class="applicant">
    <div class="applicant__name">
        <i class="fa fa-user-o mr-1"></i>
        <span>Gopalakrishnan</span>
    </div>
    <div class="applicant__skill">
        <i class="fa fa-arrows-h mr-1"></i>
        <span>Angular, Java, AWS</span>
    </div>
    <div class="applicant__demand">
        <i class="fa fa-user-o mr-1"></i>
        <span>Demand ID: 22539Y0</span>
    </div>
    <div class="applicant__unit">
        <i class="fa fa-users mr-1"></i>
        <span>Unit 1</span>
    </div>
    <div class="applicant__location">
        <i class="fa fa-map-marker mr-1"></i>
        <span>Bangalore</span>
    </div>
    <div class="applicant__cta">
        <a href="#" class="btn btn-primary">Action</a>
    </div>
</div>

<div class="applicant">
    <div class="applicant__name">
        <i class="fa fa-user-o mr-1"></i>
        <span>Gopalakrishnan</span>
    </div>
    <div class="applicant__skill">
        <i class="fa fa-arrows-h mr-1"></i>
        <span>Angular, Java, AWS</span>
    </div>
    <div class="applicant__demand">
        <i class="fa fa-user-o mr-1"></i>
        <span>Demand ID: 22539Y0</span>
    </div>
    <div class="applicant__unit">
        <i class="fa fa-users mr-1"></i>
        <span>Unit 1</span>
    </div>
    <div class="applicant__location">
        <i class="fa fa-map-marker mr-1"></i>
        <span>Bangalore</span>
    </div>
    <div class="applicant__cta">
        <a href="#" class="btn btn-primary">Action</a>
    </div>
</div>